<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="title-box">
    <h2>Faça o login</h2>
  </div>
  <form class="formulario" method="post">
    <span class="span-name">Login:</span>
    <input class="inputs" type="text" name="login">
    <br>
    <br>
    <span class="span-name">Senha:</span>
    <input class="inputs" type="password" name="password" id="pass">
    <input type="submit" id="btn" name="acao" value="Logar">
  </form>
</body>
</html>